html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Quicksand";
  src: url("../resources/fonts/Quicksand-VariableFont_wght.ttf");
  font-weight: 100 900;
}
@font-face {
  font-family: "Rubik";
  src: url("../resources/fonts/Rubik-VariableFont_wght.ttf");
  font-weight: 100 900;
}
@font-face {
  font-family: "Noto Serif";
  src: url("../resources/fonts/NotoSerif-VariableFont_wdth.ttf");
  font-weight: 100 900;
}
@keyframes show_skill {
  0% {
    visibility: visible;
    opacity: 0;
  }
  40% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes show_skill_content {
  0% {
    transform: translateX(-32px) translateY(-50%);
    opacity: 0;
  }
  60% {
    transform: translateX(8px) translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0) translateY(-50%);
  }
}
main > * {
  box-sizing: border-box;
}

main > section {
  padding: 40px 20px;
  min-height: 100vh;
}
main > section h2 {
  font-family: "Noto Serif", "serif";
  font-size: 4rem;
  font-weight: 400;
  margin-bottom: 2.5em;
  letter-spacing: -0.02em;
  text-align: center;
}

body > header {
  display: flex;
  width: 100%;
  height: 100px;
  padding-left: 30px;
  padding-right: 10px;
  background-color: white;
  box-sizing: border-box;
  user-select: none;
}
body > header h1 {
  display: flex;
  align-items: center;
  font-family: "Quicksand", sans-serif;
  font-weight: normal;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: -0.02em;
  margin-right: auto;
  color: black;
  cursor: pointer;
}
body > header h1 span {
  color: #0F6DFB;
}

body > header nav {
  height: 100%;
}
body > header nav ul {
  display: flex;
  width: 100%;
  height: 100%;
}
body > header nav ul li {
  height: 100%;
  font-family: "Rubik", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  letter-spacing: -0.02em;
  color: #070707;
}
body > header nav ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 10px;
  font-family: inherit;
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;
}
body > header nav ul li a:hover {
  background-color: #f2f2f2;
}
body > header nav ul li a:active {
  color: #0F6DFB;
}
body > header nav ul li a:focus {
  outline-color: #0F6DFB;
  outline-offset: 2px;
  outline-width: 2px;
}
body > header nav ul li a.active {
  background: linear-gradient(180deg, #F2F1F1 0%, #FFFFFF 100%);
  color: #0F6DFB;
}
body > header nav ul li a.active:hover {
  background-color: #f2f2f2;
}
body > header nav ul li a.active:active {
  color: #0F6DFB;
}

body > header.header--dark-theme {
  background-color: #070707;
}
body > header.header--dark-theme h1 {
  color: #F2F1F1;
}
body > header.header--dark-theme nav ul li a {
  color: #F2F1F1;
}
body > header.header--dark-theme nav ul li a:hover {
  background-color: #1F1F1F;
}
body > header.header--dark-theme nav ul li a:active {
  color: #0F6DFB;
}
body > header.header--dark-theme nav ul li a.active {
  color: #0F6DFB;
  background: linear-gradient(179.77deg, rgba(37, 37, 38, 0.5) 0.2%, rgba(13, 14, 14, 0.58) 99.8%);
}
body > header.header--dark-theme nav ul li a.active:hover {
  background-color: #141414;
}
body > header.header--dark-theme nav ul li a.active:active {
  color: #0F6DFB;
}

button {
  font-family: "Rubik", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  line-height: 160%;
  background-color: transparent;
  margin-top: 1.25em;
  margin-right: 1em;
  margin-bottom: 1.5em;
  margin-left: 1em;
  padding: 8px 24px;
  border: 0;
  cursor: pointer;
}
button:focus {
  outline: solid 2px #0F6DFB;
  background-color: #f2f2f2;
}
button:hover {
  background-color: #f2f2f2;
}
button:active {
  background-color: #E5E5E5;
}

button.action {
  color: #0F6DFB;
}

button.link {
  width: 3.5rem;
  height: 3.5rem;
  padding: 0;
  border: 1px solid #ccc;
  border-radius: 100%;
}

.skill {
  --content-width: 250px;
  --nudge: 8px;
  --nipple-width: 20px;
  --nipple-height: calc(var(--nipple-width) * 2);
  position: absolute;
  display: inline-block;
  font-size: 1rem;
  visibility: hidden;
}
.skill button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  margin: 0;
  padding: 0;
  border-radius: 16px;
  background-color: #1E2235;
}
.skill button img {
  width: 65%;
  height: 65%;
  user-select: none;
}
.skill button:focus + .content {
  animation-name: "show_skill_content";
  animation-duration: 250ms;
  animation-timing-function: ease;
  visibility: visible;
  opacity: 1;
  z-index: 1;
}
.skill .content {
  visibility: hidden;
  position: absolute;
  top: 50%;
  right: calc(var(--content-width) * -1 + var(--nudge) * -1 + var(--nipple-width) * -1 + 2px);
  width: var(--content-width);
  padding: 8px;
  padding-left: 12px;
  border-radius: 16px;
  background-color: #1E2235;
  font-family: "Quicksand";
  line-height: 160%;
  transform: translateY(-50%);
  box-sizing: border-box;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.4);
  opacity: 0;
}
.skill .content .title {
  font-size: 1.25em;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.skill .content h4 {
  font-weight: 600;
  font-size: 1em;
  margin-left: 2px;
}
.skill .content .list {
  list-style: inside;
}
.skill .content .list li {
  font-size: 1em;
}
.skill .content::after {
  content: "";
  display: inline-block;
  width: var(--nipple-width);
  height: var(--nipple-height);
  position: absolute;
  top: 50%;
  left: calc(var(--nipple-width) * -1);
  z-index: 3;
  background-image: url("../resources/svg/Shape.svg");
  background-size: cover;
  background-position: center;
  transform: translateY(-50%);
}

.skill.small {
  --content-width: 200px;
  --nipple-width: 15px;
  font-size: 0.8324rem;
}
.skill.small button {
  width: 56px;
  height: 56px;
}
.skill.small button img {
  width: 60%;
  height: 60%;
}

.skill.big {
  --content-width: 300px;
  --nipple-width: 25px;
  font-size: 1.25rem;
}
.skill.big button {
  width: 96px;
  height: 96px;
}

.skill.left .content {
  right: unset;
  left: calc(var(--content-width) * -1 + var(--nudge) * -1 + var(--nipple-width) * -1 + 2px);
}
.skill.left .content::after {
  left: unset;
  right: calc(var(--nipple-width) * -1);
  transform: translateY(-50%) rotate(180deg);
}

.website {
  display: flex;
  width: 950px;
  height: 640px;
  border: 1px solid #ccc;
  /** Important stylign for slidder functionality */
  position: absolute;
  top: 0;
  transition-property: none;
  transition-timing-function: cubic-bezier(0.36, 0.375, 0.255, 0.955);
  transition-duration: 1250ms;
  transform: translateX(150%);
  /** Important stylign for slidder functionality **/
  border-radius: 50px;
  box-shadow: 32px 34px 32px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.website img {
  flex-basis: 400px;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: papayawhip;
}
.website .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 16px;
  position: relative;
}

.website .content > h3, .website .content h4, .website .content p, .website .content span {
  line-height: 160%;
}
.website .content .title {
  font-family: "Rubik", sans-serif;
  font-size: 3.5rem;
  font-weight: 300;
}
.website .content .description {
  font-family: "Rubik", system-ui, sans-serif;
  font-size: 1rem;
}
.website .content h4 {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  margin-top: 8px;
}
.website .content > h4:nth-of-type(1) {
  margin-top: 0;
}
.website .content span.stack {
  font-size: 1rem;
  font-family: "Rubik";
  letter-spacing: 0.025em;
}
.website .content button.link {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 1rem;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.13);
  transition: box-shadow 100ms ease-out, transform 100ms ease-out;
}
.website .content button.link:active {
  outline: 0;
  transform: translateY(2px);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.13);
}
.website .content button.link img {
  background-color: initial;
  height: 30px;
  margin-top: 4px;
}

.website.active {
  position: relative;
  transform: translateX(0%);
}

.website.left {
  position: absolute;
  transform: translateX(-200%);
}

.website.right {
  position: absolute;
  transform: translateX(200%);
}

a.link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  text-decoration: none;
  opacity: 0.8;
  transition: opacity 100ms linear;
}
a.link svg {
  width: 125px;
  height: 125px;
  margin-bottom: 8px;
  transition: transform 200ms ease;
}
a.link svg path {
  fill: #F2F1F1;
  transition: fill 100ms linear;
}
a.link h3 {
  font-family: "Quicksand", sans-serif;
  font-size: 1.5rem;
  line-height: 160%;
  color: #F2F1F1;
}
a.link:hover {
  background-color: #131313;
  opacity: 1;
}
a.link:hover svg {
  transform: translateY(-8px);
}
a.link:active h3 {
  color: #0F6DFB;
}
a.link:active svg path {
  fill: #0F6DFB;
}

.introduction {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 100px;
  align-items: center;
}
.introduction > p {
  max-width: 40%;
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  line-height: 160%;
  letter-spacing: -0.02em;
  text-align: center;
}
.introduction button {
  margin-top: 0;
}

.introduction header {
  position: relative;
}
.introduction header figure {
  width: 200px;
  height: 200px;
  margin: 0 auto 75px auto;
  border: 3px solid black;
  background-color: cadetblue;
  border-radius: 100%;
  overflow: hidden;
  cursor: pointer;
}
.introduction header figure img {
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
  object-fit: cover;
}
.introduction header figure::after {
  content: "THIS IS ME!";
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 50%;
  display: flex;
  padding: 8px;
  align-items: center;
  font-family: "Rubik", monospace;
  font-weight: 300;
  font-size: 1rem;
  line-height: 160%;
  border-radius: 8px;
  transform: translateX(-50%) translateY(220px);
  background-color: #070707;
  color: #F2F1F1;
}
.introduction header svg {
  display: none;
}
.introduction header .title {
  margin-bottom: 0.4375em;
}
.introduction header .tagline {
  font-family: "Rubik", sans-serif;
  font-size: 2.25rem;
  font-weight: 300;
  letter-spacing: -0.02em;
  margin-bottom: 2.25rem;
}

.skills {
  padding: 5rem 0 50px 0;
  color: #F2F1F1;
  background-color: #070707;
  overflow: hidden;
}

.skills header h2 {
  color: inherit;
  margin-bottom: 1rem;
}

.skills .container {
  position: relative;
  height: 80vh;
}

.portfolio {
  padding-top: 75px;
  padding-bottom: 100px;
  padding-left: 0;
  padding-right: 0;
}
.portfolio header {
  margin-bottom: 32px;
}
.portfolio header h2.title {
  margin-bottom: 0;
}
.portfolio .controls {
  display: flex;
  justify-content: center;
  gap: 32px;
  margin-bottom: 48px;
}
.portfolio .controls .control {
  width: 12px;
  height: 12px;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  border-radius: 100%;
  background-color: #070707;
  box-shadow: 0 0 0 0 #0F6DFB;
  cursor: pointer;
  transition-duration: 100ms;
  transition-timing-function: ease-out;
  transition-property: background-color, box-shadow, border-color;
}
.portfolio .controls .control.active {
  border-color: white;
  background-color: #0F6DFB;
  box-shadow: 0 0 0 2px #0F6DFB;
}

.websites-container {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  position: relative;
  overflow: hidden;
}

/*# sourceMappingURL=style.css.map */
