html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Quicksand";
  src: url("../resources/fonts/Quicksand-VariableFont_wght.ttf");
  font-weight: 100 900;
}
@font-face {
  font-family: "Rubik";
  src: url("../resources/fonts/Rubik-VariableFont_wght.ttf");
  font-weight: 100 900;
}
@font-face {
  font-family: "Noto Serif";
  src: url("../resources/fonts/NotoSerif-VariableFont_wdth.ttf");
  font-weight: 100 900;
}
main > * {
  box-sizing: border-box;
}

main > section {
  padding: 40px 20px;
  min-height: 100vh;
}
main > section h2 {
  font-family: "Noto Serif", "serif";
  font-size: 4rem;
  font-weight: 400;
  margin-bottom: 2.5em;
  letter-spacing: -0.02em;
  text-align: center;
}

body > header {
  display: flex;
  width: 100%;
  height: 100px;
  padding-left: 30px;
  padding-right: 10px;
  background-color: white;
  box-sizing: border-box;
  user-select: none;
}
body > header h1 {
  display: flex;
  align-items: center;
  font-family: "Quicksand", sans-serif;
  font-weight: normal;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: -0.02em;
  margin-right: auto;
  color: black;
  cursor: pointer;
}
body > header h1 span {
  color: #0F6DFB;
}

body > header nav {
  height: 100%;
}
body > header nav ul {
  display: flex;
  width: 100%;
  height: 100%;
}
body > header nav ul li {
  height: 100%;
  font-family: "Rubik", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  letter-spacing: -0.02em;
  color: #070707;
}
body > header nav ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 10px;
  font-family: inherit;
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;
}
body > header nav ul li a:hover {
  background-color: #f2f2f2;
}
body > header nav ul li a:active {
  color: #0F6DFB;
}
body > header nav ul li a:focus {
  outline-color: #0F6DFB;
  outline-offset: 2px;
  outline-width: 2px;
}
body > header nav ul li a.active {
  background: linear-gradient(180deg, #F2F1F1 0%, #FFFFFF 100%);
  color: #0F6DFB;
}
body > header nav ul li a.active:hover {
  background-color: #f2f2f2;
}
body > header nav ul li a.active:active {
  color: #0F6DFB;
}

body > header.header--dark-theme {
  background-color: #070707;
}
body > header.header--dark-theme h1 {
  color: #F2F1F1;
}
body > header.header--dark-theme nav ul li a {
  color: #F2F1F1;
}
body > header.header--dark-theme nav ul li a:hover {
  background-color: #1F1F1F;
}
body > header.header--dark-theme nav ul li a:active {
  color: #0F6DFB;
}
body > header.header--dark-theme nav ul li a.active {
  color: #0F6DFB;
  background: linear-gradient(179.77deg, rgba(37, 37, 38, 0.5) 0.2%, rgba(13, 14, 14, 0.58) 99.8%);
}
body > header.header--dark-theme nav ul li a.active:hover {
  background-color: #141414;
}
body > header.header--dark-theme nav ul li a.active:active {
  color: #0F6DFB;
}

button {
  font-family: "Rubik", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  line-height: 160%;
  background-color: transparent;
  margin-top: 1.25em;
  margin-right: 1em;
  margin-bottom: 1.5em;
  margin-left: 1em;
  padding: 8px 24px;
  border: 0;
  cursor: pointer;
}
button:focus {
  outline: solid 2px #0F6DFB;
  background-color: #f2f2f2;
}
button:hover {
  background-color: #f2f2f2;
}
button:active {
  background-color: #E5E5E5;
}

button.action {
  color: #0F6DFB;
}

.introduction {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 100px;
  align-items: center;
}
.introduction > p {
  max-width: 40%;
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  line-height: 160%;
  letter-spacing: -0.02em;
  text-align: center;
}
.introduction button {
  margin-top: 0;
}

.introduction header {
  position: relative;
}
.introduction header figure {
  width: 200px;
  height: 200px;
  margin: 0 auto 75px auto;
  border: 3px solid black;
  background-color: cadetblue;
  border-radius: 100%;
  overflow: hidden;
  cursor: pointer;
}
.introduction header figure img {
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
  object-fit: cover;
}
.introduction header figure::after {
  content: "THIS IS ME!";
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 50%;
  display: flex;
  padding: 8px;
  align-items: center;
  font-family: "Rubik", monospace;
  font-weight: 300;
  font-size: 1rem;
  line-height: 160%;
  border-radius: 8px;
  transform: translateX(-50%) translateY(220px);
  background-color: #070707;
  color: #F2F1F1;
}
.introduction header svg {
  display: none;
}
.introduction header .title {
  margin-bottom: 0.4375em;
}
.introduction header .tagline {
  font-family: "Rubik", sans-serif;
  font-size: 2.25rem;
  font-weight: 300;
  letter-spacing: -0.02em;
  margin-bottom: 2.25rem;
}

.skills {
  height: 125vh;
  padding-top: 5rem;
  padding-bottom: 7.5rem;
  background-color: #070707;
  color: #F2F1F1;
}

.skills header h2 {
  color: inherit;
}

.skills .container {
  position: relative;
}

/*# sourceMappingURL=style.css.map */
