main > section {
    padding: 40px 20px;
    min-height: 100vh;

    h2 {
        font-family: 'Noto Serif', 'serif';
        font-size: 4rem;
        font-weight: 400;

        margin-bottom: 2.5em;

        letter-spacing: -0.02em;
        text-align: center;
    }
}