@use '../2.\ Tools/variables' as *;

.website {
    display: flex;
    width: 950px;
    height: 640px;
    border: 1px solid #ccc;

    /** Important stylign for slidder functionality */

    position: absolute;
    top: 0;
    // right: 0;

    transition-property: none;
    transition-timing-function: cubic-bezier(0.360, 0.375, 0.255, 0.955);
    transition-duration: 1250ms;
    transform: translateX(150%);

    /** Important stylign for slidder functionality **/
    
    border-radius: 50px;
    box-shadow: 32px 34px 32px 0px rgba(0, 0, 0, 0.10);

    overflow: hidden;

    img {
        flex-basis: 400px;
        flex-grow: 0;
        flex-shrink: 0;
        background-color: papayawhip;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;
        flex-shrink: 1;

        padding: 16px;

        position: relative;
    }
}

.website .content {
    
    & > h3,h4,p,span { line-height: 160%; }

    .title {
        font-family: 'Rubik', sans-serif;
        font-size: 3.5rem;
        font-weight: 300;
    }

    .description {
        font-family: 'Rubik', system-ui, sans-serif;
        font-size: 1rem;
    }

    h4 {
        font-family: 'Quicksand', sans-serif;
        font-weight: 700;
        font-size: 1.5rem;
        
        margin-top: 8px;

    }
    
    & > h4:nth-of-type(1) {
        margin-top: 0;
    }

    span.stack {
        font-size: 1rem;
        font-family: 'Rubik';

        letter-spacing: 0.025em;
    }

    button.link {
        position: absolute;
        bottom: 20px;
        right:  20px;
        
        font-size: 1rem;

        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.13);

        transition: box-shadow 100ms ease-out,
                    transform 100ms ease-out;

        &:active {
            outline: 0;
            transform: translateY(2px);
            box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.13);
        }

        img {
            background-color: initial;
            height: 30px;
            margin-top: 4px;
        }
    }
}


.website.active {
    position: relative;
    transform: translateX(0%);
}

.website.left {
    position: absolute;
    transform: translateX(-200%);
}

.website.right {
    position: absolute;
    transform: translateX(200%);
}